@font-face {
	font-family: sans-serif;
	src: url('../Fonts/Oswald/static/Oswald-Bold.ttf') format('truetype');
	src: url('../Fonts/Oswald/static/Oswald-ExtraLight.ttf') format('truetype');
	src: url('../Fonts/Oswald/static/Oswald-Light.ttf') format('truetype');
	src: url('../Fonts/Oswald/static/Oswald-Medium.ttf') format('truetype');
	src: url('../Fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
	src: url('../Fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype');
	src: url('../Fonts/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
	src: url('../Fonts/Quicksand/static/Quicksand-Light.ttf') format('truetype');
	src: url('../Fonts/Quicksand/static/Quicksand-Medium.ttf') format('truetype');
	src: url('../Fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
	src: url('../Fonts/Quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
}

:root {
	--text-black: rgb(31, 31, 31);
	--green-background: rgb(242, 255, 244);
	--text-green: #76ff76;
	font-size: 16px;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

section {
	scroll-margin-top: 100px;
}

body {
	margin: 0;
	padding: 0;
	background: var(--green-background);
	font-family: 'Quicksand', sans-serif;
	overflow-x: hidden;
}

h2,
h3 {
	font-family: 'Oswald', sans-serif;
	color: var(--text-black);
}

/* Navbar */
nav {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 3;
	height: 80px;
	/* box-shadow:  */
}

nav .container {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav h2 {
	font-size: calc(1.5vh + 0.8rem);
}

nav h2 span {
	color: rgb(100, 255, 100);
}

nav .nav-links {
	margin-left: auto;
	list-style: none;
}

nav .nav-links li {
	display: inline-block;
}

nav .nav-links li:nth-child(2),
nav .nav-links li:nth-child(3),
nav .nav-links li:nth-child(4),
nav .nav-links li:nth-child(5) {
	margin-left: 1em;
}

nav .nav-links a {
	font-weight: 500;
	text-decoration: none;
	font-size: calc(1vmin + 0.66rem);
	color: grey;
	transition: 0.3s linear;
}

nav .nav-links a:hover {
	color: var(--text-green);
}
input[type='checkbox'] {
	opacity: 0;
}

/* Akhir Navbar */

/* About Recycling */
#about-recycling h2 {
	text-align: center;
	font-size: calc(2vh + 1rem);
	color: var(--text-black);
}

#about-recycling {
	width: 90%;
	margin: 5rem auto 0;
	opacity: 0;
	transition: 0.5s;
}

.definition {
	text-align: justify;
	width: 100%;
	margin: auto;
	line-height: 1.5;
	font-size: 1.2rem;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	opacity: 0;
}

/* Trash Hierarchy */
h3 {
	font-size: 1.6rem;
	font-weight: 600;
}

.trash-hierarchy {
	width: 90%;
	margin: 80px auto;
}

.trash-hierarchy .title {
	width: 30%;
	margin: auto;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}

.trash-hierarchy .title > hr {
	display: block;
	margin-left: 0;
	margin-top: -20px;
	border-radius: 3px;
	border: 0;
	background-color: var(--text-black);
	height: 4px;
}

.trash-hierarchy .ThreeR {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.trash-hierarchy .ThreeR figure {
	background-color: white;
	max-width: 280px;
	border-radius: 10px;
	padding: 1.5em 1.8em;
	transition: all 0.4s ease;
	transform: scale(0);
	opacity: 0;
}

.trash-hierarchy .ThreeR figure:hover {
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
}

.trash-hierarchy img {
	margin: auto;
	display: block;
}

.trash-hierarchy figcaption h4 {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
}
.trash-hierarchy figcaption p {
	font-size: 1rem;
	text-align: left;
	color: rgb(102, 102, 102);
	line-height: 1.5;
}

/* Some Reyclable Material */
.some-recyclable {
	width: 90%;
	margin: auto;
	position: relative;
}

.some-recyclable .title {
	width: 40%;
	margin: auto;
	text-align: center;
}

.some-recyclable .title h3 {
	opacity: 0;
	transform: scale(0);
	transition: 0.4s ease;
}

.some-recyclable .title .desc {
	opacity: 0;
	transition: 0.4s ease;
}

.some-recyclable .title p {
	font-size: 1.12rem;
	text-align: left;
	font-weight: 400;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.some-recyclable .title > hr {
	display: block;
	margin-left: 0;
	margin-top: -20px;
	background-color: var(--text-black);
	height: 4px;
	border-radius: 3px;
	border: 0;
	opacity: 0;
	transition: 0.4s ease;
}

.some-recyclable .materials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.some-recyclable .materials figure {
	background-color: white;
	width: 280px;
	border-radius: 10px;
	padding: 1.4em 1.6em;
	transition: 0.4s linear;
	opacity: 0;
	transform: scale(0);
}

.some-recyclable figure:hover {
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
}

.some-recyclable img {
	margin: auto;
	display: block;
}

.some-recyclable figcaption h4 {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
}

/* Benefits Of Recycling */
.benefits-recycling {
	width: 90%;
	margin: 80px auto;
}

.benefits-recycling .title {
	width: 60%;
	margin: auto;
	text-align: center;
}

.benefits-recycling .title h3,
.benefits-recycling .title hr,
.benefits-recycling .title p {
	opacity: 0;
	transition: 0.4s ease;
}

.benefits-recycling .title h3 {
	transform: scale(0);
}

.benefits-recycling .title p {
	font-size: 1.12rem;
	text-align: left;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.benefits-recycling .title > hr {
	display: block;
	margin-left: 0;
	margin-top: -20px;
	background-color: var(--text-black);
	border-radius: 3px;
	border: 0;
	height: 4px;
}

.benefits-recycling .benefits {
	display: flex;
	width: 82%;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
}

.benefits-recycling .benefit {
	width: 48%;
	border-radius: 8px;
	background-color: white;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	padding: 0.5em 1.5em;
	transition: 0.4s linear;
	opacity: 0;
	transform: scale(0);
}

.benefit .circle {
	color: var(--text-black);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	margin-right: 0.8em;
	color: var(--text-green);
	/* background-color: var(--circle-background); */
}

.benefit:hover {
	/* transform: translateY(-2px); */
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
}

.benefit p {
	color: rgb(102, 102, 102);
	font-weight: 400;
}

/* Example Recycling */
.recycling-example {
	margin: auto;
	width: 90%;
}

.recycling-example .title {
	width: 60%;
	margin: auto;
	text-align: center;
}

.recycling-example .title h3,
.recycling-example .title hr {
	opacity: 0;
	transition: 0.4s ease;
}

.recycling-example .title h3 {
	transform: scale(0);
}

.recycling-example .title > hr {
	display: block;
	margin-left: 0;
	margin-top: -20px;
	background-color: var(--text-black);
	border-radius: 3px;
	border: 0;
	height: 4px;
}

.recycling-example figure {
	width: 82%;
	margin: 20px auto 0;
	opacity: 0;
	transition: all 2s ease;
}

.recycling-example video {
	width: 100%;
	border-radius: 8px;
	outline: 0;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}

.recycling-example figcaption {
	color: var(--text-black);
	margin-top: -15px;
}

.recycling-example figcaption h4 {
	font-size: 1.2rem;
	font-weight: 600;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.recycling-example figcaption p {
	margin-top: -12px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.recycling-example figcaption p a {
	text-decoration: none;
	color: var(--text-black);
	cursor: pointer;
}

.recycling-example figcaption p a:hover {
	color: blue;
}

/* Scroll to top */
#scroll-to-top {
	background-color: #17ff5c;
	outline: 0;
	border: 0;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 12px;
	right: 12px;
	transition: 0.3s;
	border-radius: 5px;
	display: none;
}

#scroll-to-top:hover {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

/* footer */
.copyright {
	font-weight: 500;
	text-align: center;
	font-size: 0.9rem;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	margin-top: 80px;
}

@media screen and (max-width: 1050px) {
	.nav-links {
		flex-direction: column;
		display: flex;
		justify-content: space-around;
		background-color: white;
		position: fixed;
		height: auto;
		width: auto;
		top: 60px;
		bottom: -20px;
		left: 0;
		right: 100%;
		z-index: 2;
		opacity: 0;
		overflow: visible;
		transition: 0.3s ease-in-out;
	}

	.fade-left {
		right: 0;
		opacity: 1;
	}

	nav .nav-links li:nth-child(2),
	nav .nav-links li:nth-child(3),
	nav .nav-links li:nth-child(4),
	nav .nav-links li:nth-child(5) {
		margin: 0;
	}

	nav .nav-links li a {
		font-weight: 600;
		text-align: center;
		font-size: calc(1vh + 0.8rem);
	}

	.hamburger-menu {
		height: 23px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 28px;
		cursor: pointer;
		position: relative;
	}

	.hamburger-menu .line {
		background-color: black;
		border-radius: 3px;
		height: 4px;
		width: 28px;
		display: block;
		transition: 0.3s ease-in-out;
	}

	input[type='checkbox'] {
		opacity: 0;
		height: 30px;
		width: 30px;
		position: absolute;
		top: -5px;
		left: -4px;
		cursor: pointer;
		z-index: 10;
	}

	nav input[type='checkbox']:checked ~ .line:nth-child(2) {
		transform: translateY(10px) rotate(45deg);
		background-color: var(--text-green);
		/* transform-origin: 0 0; */
	}

	nav input[type='checkbox']:checked ~ .line:nth-child(3) {
		transform: scale(0);
	}
	nav input[type='checkbox']:checked ~ .line:nth-child(4) {
		transform: translateY(-9px) rotate(-45deg);
		background-color: var(--text-green);
	}
}

@media screen and (min-width: 992px) {
	.definition {
		width: 60%;
	}

	.trash-hierarchy .title {
		text-align: left;
		margin-left: 7rem;
	}

	.trash-hierarchy .title > hr {
		width: 200px;
	}

	.some-recyclable .title {
		text-align: left;
		margin-left: 7rem;
	}

	.some-recyclable .title > hr {
		width: 320px;
	}

	.benefits-recycling .title {
		text-align: left;
		margin-left: 7rem;
	}

	.benefits-recycling .title > hr {
		width: 280px;
	}

	.recycling-example .title {
		text-align: left;
		margin-left: 7rem;
	}

	.recycling-example .title > hr {
		width: 250px;
	}
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.4rem;
	}

	.definition {
		font-size: 1em;
	}

	.trash-hierarchy .title,
	.some-recyclable .title,
	.benefits-recycling .title,
	.recycling-example .title {
		width: 100%;
		text-align: center;
	}

	.some-recyclable .title p,
	.benefits-recycling .title p {
		text-align: center;
	}

	.trash-hierarchy .title > hr,
	.benefits-recycling .title > hr,
	.some-recyclable .title > hr,
	.recycling-example .title > hr {
		margin: -20px auto 20px;
	}

	.trash-hierarchy .title > hr {
		width: 20%;
	}

	.benefits-recycling .title > hr {
		width: 22%;
	}

	.some-recyclable .title > hr {
		width: 30%;
	}

	.recycling-example .title > hr {
		width: 40%;
	}

	.trash-hierarchy .ThreeR,
	.some-recyclable .materials,
	.benefits-recycling .benefits {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.trash-hierarchy figure img {
		width: 60px;
	}

	.some-recyclable figure img {
		width: 100px;
	}

	.trash-hierarchy figure {
		margin: 1em 0;
	}

	.some-recyclable .materials figure {
		padding: 1.2em 0;
		margin: 1em 0;
	}

	.benefits-recycling .benefits {
		width: 100%;
	}

	.benefits-recycling .benefit {
		width: 100%;
	}

	.benefit p {
		font-size: 1rem;
	}

	.recycling-example figure {
		width: 100%;
	}
}

@media screen and (max-width: 350px) {
	#about-recycling {
		width: 92%;
		margin: auto;
	}

	h2 {
		font-size: 1.7rem;
	}

	.definition {
		font-size: 1rem;
	}

	.trash-hierarchy figcaption h4 {
		font-size: 1.1rem;
	}

	.trash-hierarchy figcaption p {
		font-size: 0.8rem;
		text-align: center;
	}

	.trash-hierarchy figure {
		margin: 1em 0;
	}

	.trash-hierarchy figure img {
		width: 50px;
	}

	.some-recyclable .materials figure {
		width: 240px;
	}

	.some-recyclable figure img {
		width: 80px;
	}

	.some-recyclable figcaption h4 {
		font-size: 1rem;
	}

	.some-recyclable .title p,
	.benefits-recycling .title p {
		font-size: 1rem;
	}

	.benefits-recycling .benefit {
		padding: 0.5em 0.6em;
	}

	.benefit .circle {
		font-size: 0.7rem;
		width: 21px;
	}

	.benefit p {
		font-size: 0.7rem;
	}
}
